html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color:white;
}

* {
outline: none !important;
}

.bg {
  background-image: url("background.jpeg");
  max-height: 100%;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.myButton {
  background-color: transparent;
  border-radius: 20px;
  box-shadow: 0 1px #444444;
  padding: 7px 25px;
  color: #3a4351;
  display: inline-block;
  font: normal bold 15px/1 "Montserrat", serif;
  text-align: center;
}

.myButton:hover {
  background-color:transparent;
}

.myButton:active {
position:relative;
  top:1px;
}

::placeholder {
  opacity: 0.3;
}

input{
  margin-top:80px;
  margin-bottom: 20px;
  background: transparent !important;
  border: none;
  color: #3A4351;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  max-width: 100%;
}

.content{
  color: #3A4351;;
  text-align:center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top:5px;
  padding-bottom:5px;
  margin-top: 20px;
  max-height: 70%;
  max-width: 100%;
  font-size: 14px;
}

#output {
  margin-bottom: -15px;
}

#output:first-letter {

  text-transform: uppercase;
  
  }